In [21]:
import pandas as pd

pd.set_option('display.max_rows', 500)

In [14]:
DATA_PATH = '../data/Country C.xlsx'

# read into Excel file (all sheets) as a dictionary of name:df
sheet_to_df_map = pd.read_excel(DATA_PATH, sheet_name=None)

sheet_to_df_map

{'Source':    Unnamed: 0 Unnamed: 1             Unnamed: 2
 0         NaN    Source   Member Countries/ECCB,
 ' RR MAX & MIN 1996':                     1996 Unnamed: 1 RAINFALL  Unnamed: 3 Unnamed: 4  \
 0                    NaN        NaN       NaN        NaN        NaN
 1                    NaN        NaN     1200Z      1800Z        NaN
 2    1999-01-01 00:00:00        NaN       NaN        NaN        NaN
 3    1999-01-02 00:00:00        NaN       NaN        NaN        NaN
 4    1999-01-03 00:00:00        NaN       NaN        NaN        NaN
 ..                   ...        ...       ...        ...        ...
 433                  NaN        NaN     162.9       33.1        NaN
 434                  NaN        NaN       196        NaN        SUM
 435                  NaN        NaN       NaN        NaN    AVERAGE
 436              RR DEC:      TOTAL       196        NaN    HIGHEST
 437              Average        NaN       NaN        NaN     LOWEST

       MAX TEMP Unnamed: 6 MIN TEMP Unnamed: 8
 0          NaN        NaN      NaN        NaN
 1        1200Z      1800Z    1200Z      1800Z
 2          NaN        NaN      NaN        NaN
 3          NaN        NaN      NaN        NaN
 4          NaN        NaN      NaN        NaN
 ..         ...        ...      ...        ...
 433        NaN        NaN      NaN        NaN
 434      854.6      870.2    712.8      757.3
 435  27.567742  28.070968    23.76  25.243333
 436       28.9       29.4     25.4       27.1
 437       25.6       25.7     20.6       21.1

 [438 rows x 9 columns],
 ' RR MAX & MIN 1997':                     1997 Unnamed: 1 RAINFALL  Unnamed: 3 Unnamed: 4 MAX TEMP  \
 0                    NaN        NaN       NaN        NaN        NaN      NaN
 1                    NaN        NaN     1200Z      1800Z        NaN    1200Z
 2    1999-01-01 00:00:00        NaN        TR        NaN        NaN     27.5
 3    1999-01-02 00:00:00        NaN       0.6        NaN        NaN     27.9
 4    1999-01-03 00:00:00        NaN        Tr        NaN        NaN     27.9
 ..                   ...        ...       ...        ...        ...      ...
 433                  NaN        NaN         0          0        NaN      NaN
 434                  NaN        NaN         0        NaN        SUM        0
 435                  NaN        NaN       NaN        NaN    AVERAGE      NaN
 436              RR DEC:      TOTAL         0        NaN    HIGHEST        0
 437              Average        NaN       NaN        NaN     LOWEST        0

     Unnamed: 6 MIN TEMP Unnamed: 8
 0          NaN      NaN        NaN
 1        1800Z    1200Z      1800Z
 2           28     23.7       24.9
 3         28.5     22.5       24.8
 4         28.6       24       26.1
 ..         ...      ...        ...
 433        NaN      NaN        NaN
 434          0        0          0
 435        NaN      NaN        NaN
 436          0        0          0
 437          0        0          0

 [438 rows x 9 columns],
 'RR MAX & MIN 1998':               Unnamed: 0 Unnamed: 1 RAINFALL  Unnamed: 3 Unnamed: 4  \
 0                    NaN        NaN       NaN        NaN        NaN
 1                    NaN        NaN     1200Z      1800Z        NaN
 2                    NaN        NaN       NaN        NaN        NaN
 3    1999-06-01 00:00:00        NaN      11.4        NaN        NaN
 4    1999-06-02 00:00:00        NaN       NaN        NaN        NaN
 ..                   ...        ...       ...        ...        ...
 253                  NaN        NaN     247.4         33        NaN
 254                  NaN        NaN     280.4        NaN        SUM
 255                  NaN        NaN       NaN        NaN    AVERAGE
 256              RR DEC:      TOTAL     280.4        NaN    HIGHEST
 257                  NaN        NaN       NaN        NaN     LOWEST

       MAX TEMP Unnamed: 6   MIN TEMP Unnamed: 8
 0          NaN        NaN        NaN        NaN
 1        1200Z      1800Z      1200Z      1800Z
 2          NaN        NaN        NaN        NaN
 3          NaN        NaN        NaN        NaN
 4          NaN        NaN        NaN        NaN
 ..         ...        ...        ...        ...
 253        NaN        NaN        NaN        NaN
 254       8271       8583       7015       7334
 255  26.680645  27.687097  23.383333  24.446667
 256        280        370        260        259
 257        223        258        212        223

 [258 rows x 9 columns],
 'RR MAX & MIN 1999':                     1999 Unnamed: 1 RAINFALL  Unnamed: 3 Unnamed: 4  \
 0                    NaN        NaN     1200Z      1800Z        NaN
 1    1999-01-01 00:00:00        NaN       0.2        NaN        NaN
 2    1999-01-02 00:00:00        NaN       3.2        0.3        NaN
 3    1999-01-03 00:00:00        NaN       2.5        0.9        NaN
 4    1999-01-04 00:00:00        NaN       0.2        NaN        NaN
 ..                   ...        ...       ...        ...        ...
 432                  NaN        NaN      27.6        3.3        NaN
 433                  NaN        NaN      30.9        NaN        SUM
 434                  NaN        NaN       NaN        NaN    AVERAGE
 435              RR DEC:      TOTAL      32.2         mm    HIGHEST
 436                  NaN        NaN  1.267717     inches     LOWEST

       MAX TEMP Unnamed: 6   MIN TEMP Unnamed: 8
 0        1200Z      1800Z      1200Z      1800Z
 1         26.3       27.6       22.7       25.5
 2         27.6       27.2       21.1       21.9
 3         26.3       26.7         22       22.8
 4         26.5       27.1       22.5         23
 ..         ...        ...        ...        ...
 432        NaN        NaN        NaN        NaN
 433      817.5      828.1      707.8      743.2
 434  26.370968  26.712903  22.832258  23.974194
 435       27.4       28.4       24.6       25.4
 436       25.2         25         21       21.8

 [437 rows x 9 columns],
 'RR MAX & MIN 2000':               Unnamed: 0 Unnamed: 1 RAINFALL  Unnamed: 3 Unnamed: 4  \
 0                   2000        NaN       NaN        NaN        NaN
 1                    NaN        NaN     1200Z      1800Z        NaN
 2    1999-01-01 00:00:00        NaN       1.3        NaN        NaN
 3    1999-01-02 00:00:00        NaN       1.3        0.7        NaN
 4    1999-01-03 00:00:00        NaN       0.7        NaN        NaN
 ..                   ...        ...       ...        ...        ...
 434                  NaN        NaN      30.7       33.8        NaN
 435                  NaN        NaN      64.5        NaN        SUM
 436                  NaN        NaN       NaN        NaN    AVERAGE
 437              RR DEC:      TOTAL      64.5         mm    HIGHEST
 438                  NaN        NaN   2.53937     inches     LOWEST

       MAX TEMP Unnamed: 6   MIN TEMP Unnamed: 8  Unnamed: 9  ...  Unnamed: 12  \
 0          NaN        NaN        NaN        NaN         NaN  ...          NaN
 1        1200Z      1800Z      1200Z      1800Z         NaN  ...          NaN
 2         26.3       26.5       21.9       23.9         NaN  ...          NaN
 3         26.2       26.2       21.2       22.4         NaN  ...          NaN
 4         25.2       25.8         22       22.9         NaN  ...          NaN
 ..         ...        ...        ...        ...         ...  ...          ...
 434        NaN        NaN        NaN        NaN         NaN  ...          NaN
 435      830.1      848.2      687.8      720.1         NaN  ...          NaN
 436  26.777419   27.36129  22.187097  23.229032         NaN  ...          NaN
 437       28.1       28.5       24.5       25.5         NaN  ...          NaN
 438       25.1       25.8       19.3       20.4         NaN  ...          NaN

      Unnamed: 13  Unnamed: 14  RAINFALL  Unnamed: 16 Unnamed: 17  MAX TEMP.1  \
 0           2000          NaN  TOTAL mm          NaN         NaN         NaN
 1            NaN          NaN       NaN          NaN         NaN       1200Z
 2            NaN          NaN       NaN          NaN         NaN         NaN
 3            NaN          NaN       NaN          NaN     AVERAGE        25.7
 4           JAN:          NaN      77.7          NaN     HIGHEST        27.7
 ..           ...          ...       ...          ...         ...         ...
 434          NaN          NaN       NaN          NaN         NaN         NaN
 435          NaN          NaN       NaN          NaN         NaN         NaN
 436          NaN          NaN       NaN          NaN         NaN         NaN
 437          NaN          NaN       NaN          NaN         NaN         NaN
 438          NaN          NaN       NaN          NaN         NaN         NaN

     Unnamed: 19 MIN TEMP.1 Unnamed: 21
 0           NaN        NaN         NaN
 1         1800Z      1200Z       1800Z
 2           NaN        NaN         NaN
 3     25.774194  21.686667   22.629032
 4          26.9       23.3        24.6
 ..          ...        ...         ...
 434         NaN        NaN         NaN
 435         NaN        NaN         NaN
 436         NaN        NaN         NaN
 437         NaN        NaN         NaN
 438         NaN        NaN         NaN

 [439 rows x 22 columns],
 'RR MAX & MIN 2001':               Unnamed: 0 Unnamed: 1 RAINFALL  Unnamed: 3 Unnamed: 4  \
 0                   2001        NaN       NaN        NaN        NaN
 1                    NaN        NaN     1200Z      1800Z        NaN
 2    1999-01-01 00:00:00        NaN        Tr          0        NaN
 3    1999-01-02 00:00:00        NaN        Tr         Tr        NaN
 4    1999-01-03 00:00:00        NaN       4.8         Tr        NaN
 ..                   ...        ...       ...        ...        ...
 433                  NaN        NaN     145.9         86        NaN
 434                  NaN        NaN     231.9        NaN        SUM
 435                  NaN        NaN       NaN        NaN    AVERAGE
 436              RR DEC:      TOTAL     231.9         mm    HIGHEST
 437                  NaN        NaN  9.129921     inches     LOWEST

       MAX TEMP Unnamed: 6   MIN TEMP Unnamed: 8  Unnamed: 9  ...  Unnamed: 11  \
 0          NaN        NaN        NaN        NaN         NaN  ...          NaN
 1        1200Z      1800Z      1200Z      1800Z         NaN  ...          NaN
 2         27.3       27.5       22.5         24         NaN  ...          NaN
 3         26.6       27.4       21.9       23.8         NaN  ...          NaN
 4         26.7       27.2       20.5       23.4         NaN  ...          NaN
 ..         ...        ...        ...        ...         ...  ...          ...
 433        NaN        NaN        NaN        NaN         NaN  ...          NaN
 434      832.3      844.2      716.6      742.5         NaN  ...          NaN
 435  26.848387  27.232258  23.116129  23.951613         NaN  ...          NaN
 436       28.9       28.9       24.9       26.8         NaN  ...          NaN
 437         25       24.5       19.5       20.8         NaN  ...          NaN

      Unnamed: 12 Unnamed: 13  RAINFALL Unnamed: 15  Unnamed: 16 MAX TEMP.1  \
 0           2001         NaN  TOTAL mm         NaN          NaN        NaN
 1            NaN         NaN       NaN         NaN          NaN      1200Z
 2            NaN         NaN       NaN         NaN          NaN        NaN
 3            NaN         NaN       NaN         NaN          NaN        NaN
 4           JAN:         NaN      37.1         NaN      AVERAGE  26.841935
 ..           ...         ...       ...         ...          ...        ...
 433          NaN         NaN       NaN         NaN          NaN        NaN
 434          NaN         NaN       NaN         NaN          NaN        NaN
 435          NaN         NaN       NaN         NaN          NaN        NaN
 436          NaN         NaN       NaN         NaN          NaN        NaN
 437          NaN         NaN       NaN         NaN          NaN        NaN

     Unnamed: 18 MIN TEMP.1 Unnamed: 20
 0           NaN        NaN         NaN
 1         1800Z      1200Z       1800Z
 2           NaN        NaN         NaN
 3           NaN        NaN         NaN
 4     27.154839  21.054839   22.664516
 ..          ...        ...         ...
 433         NaN        NaN         NaN
 434         NaN        NaN         NaN
 435         NaN        NaN         NaN
 436         NaN        NaN         NaN
 437         NaN        NaN         NaN

 [438 rows x 21 columns],
 ' RR MAX & MIN 2002':                     2002 Unnamed: 1 RAINFALL  Unnamed: 3 Unnamed: 4  MAX TEMP  \
 0                    NaN        NaN     1200Z      1800Z        NaN     1200Z
 1    1999-01-01 00:00:00        NaN       NaN        NaN        NaN      26.2
 2    1999-01-02 00:00:00        NaN       NaN        NaN        NaN      27.5
 3    1999-01-03 00:00:00        NaN       NaN        NaN        NaN      27.3
 4    1999-01-04 00:00:00        NaN       NaN        NaN        NaN      26.6
 ..                   ...        ...       ...        ...        ...       ...
 432                  NaN        NaN        52          9        NaN       NaN
 433                  NaN        NaN        61        NaN        SUM     847.5
 434                  NaN        NaN       NaN        NaN    AVERAGE  27.33871
 435              RR DEC:      TOTAL        63         mm    HIGHEST      28.5
 436                  NaN        NaN  2.480315     inches     LOWEST      25.5

     Unnamed: 6   MIN TEMP Unnamed: 8
 0        1800Z      1200Z      1800Z
 1         27.7       23.7       23.9
 2         26.9       24.4       24.7
 3         27.6         24       24.3
 4         27.8       23.6       23.5
 ..         ...        ...        ...
 432        NaN        NaN        NaN
 433      862.4      704.3      745.5
 434  27.819355  22.719355  24.048387
 435         29       24.8       25.7
 436       26.4       20.4       20.5

 [437 rows x 9 columns],
 ' RR MAX & MIN 2003':                     2003 Unnamed: 1 RAINFALL  Unnamed: 3 Unnamed: 4  \
 0                    NaN        NaN     1200Z      1800Z        NaN
 1    1999-01-01 00:00:00        NaN         2          0        NaN
 2    1999-01-02 00:00:00        NaN       1.7          0        NaN
 3    1999-01-03 00:00:00        NaN         0        0.2        NaN
 4    1999-01-04 00:00:00        NaN       1.7         Tr        NaN
 ..                   ...        ...       ...        ...        ...
 432                  NaN        NaN      72.9       19.9        NaN
 433                  NaN        NaN      92.8        NaN        SUM
 434                  NaN        NaN       NaN        NaN    AVERAGE
 435              RR DEC:      TOTAL      92.8         mm    HIGHEST
 436                  NaN        NaN  3.653543     inches     LOWEST

       MAX TEMP Unnamed: 6 MIN TEMP Unnamed: 8
 0        1200Z      1800Z    1200Z      1800Z
 1         27.5       26.5     21.1       21.8
 2         26.6       27.8     20.2       23.3
 3         27.3       27.8     23.8       23.7
 4         27.4       27.2     20.4       22.8
 ..         ...        ...      ...        ...
 432        NaN        NaN      NaN        NaN
 433        857      864.9    685.8      740.2
 434  27.645161       27.9    22.86  23.877419
 435       29.5       29.4     28.4       25.7
 436         26       26.2     20.6       21.6

 [437 rows x 9 columns],
 ' RR MAX & MIN 2004':                     2004 Unnamed: 1 RAINFALL  Unnamed: 3 Unnamed: 4  \
 0                    NaN        NaN     1200Z      1800Z        NaN
 1    1999-01-01 00:00:00        NaN       NaN        NaN        NaN
 2    1999-01-02 00:00:00        NaN       NaN         Tr        NaN
 3    1999-01-03 00:00:00        NaN        Tr        0.2        NaN
 4    1999-01-04 00:00:00        NaN       NaN        NaN        NaN
 ..                   ...        ...       ...        ...        ...
 433                  NaN        NaN      70.9       26.7        NaN
 434                  NaN        NaN      97.6        NaN        SUM
 435                  NaN        NaN       NaN        NaN    AVERAGE
 436              RR DEC:      TOTAL      97.6         mm    HIGHEST
 437                  NaN        NaN   3.84252     inches     LOWEST

       MAX TEMP Unnamed: 6   MIN TEMP Unnamed: 8
 0        1200Z      1800Z      1200Z      1800Z
 1         26.8         28       22.4       23.5
 2         27.5         27       23.5       23.3
 3         27.4       27.9       23.7       20.6
 4         27.6       27.8       22.6       22.7
 ..         ...        ...        ...        ...
 433        NaN        NaN        NaN        NaN
 434      843.1      852.1      695.5      732.1
 435  27.196774  27.487097  22.435484  23.616129
 436       28.6       28.7       25.7       24.9
 437       24.7       22.4       20.4         21

 [438 rows x 9 columns],
 ' RR MAX & MIN 2005':                     2005 Unnamed: 1 RAINFALL  Unnamed: 3 Unnamed: 4  \
 0                    NaN        NaN     1200Z      1800Z        NaN
 1    1999-01-01 00:00:00        NaN       NaN        NaN        NaN
 2    1999-01-02 00:00:00        NaN       2.9        8.7        NaN
 3    1999-01-03 00:00:00        NaN       NaN        NaN        NaN
 4    1999-01-04 00:00:00        NaN       0.3         Tr        NaN
 ..                   ...        ...       ...        ...        ...
 432                  NaN        NaN      47.8        9.9        NaN
 433                  NaN        NaN      57.7        NaN        SUM
 434                  NaN        NaN       NaN        NaN    AVERAGE
 435              RR DEC:      TOTAL        84         mm    HIGHEST
 436                  NaN        NaN  3.307087     inches     LOWEST

       MAX TEMP Unnamed: 6   MIN TEMP Unnamed: 8
 0        1200Z      1800Z      1200Z      1800Z
 1         25.3       26.8       22.2         23
 2           25       25.5       20.9         20
 3         25.9       26.7       22.5       23.1
 4         26.5       26.3         22       22.3
 ..         ...        ...        ...        ...
 432        NaN        NaN        NaN        NaN
 433      841.6      851.5        690      724.2
 434  27.148387  27.467742  22.258065   23.36129
 435       28.2       28.6         24         25
 436       25.2       25.6       20.7       21.4

 [437 rows x 9 columns],
 ' RR MAX & MIN 2006':                     2006 Unnamed: 1 RAINFALL  Unnamed: 3 Unnamed: 4  \
 0                    NaN        NaN     1200Z      1800Z        NaN
 1    1999-01-01 00:00:00        NaN      26.3        2.9        NaN
 2    1999-01-02 00:00:00        NaN       2.2        0.4        NaN
 3    1999-01-03 00:00:00        NaN       2.6        NaN        NaN
 4    1999-01-04 00:00:00        NaN       NaN         Tr        NaN
 ..                   ...        ...       ...        ...        ...
 433                  NaN        NaN        72       23.5        NaN
 434                  NaN        NaN      95.5        NaN        SUM
 435                  NaN        NaN       NaN        NaN    AVERAGE
 436              RR DEC:      TOTAL      96.2         mm    HIGHEST
 437                  NaN        NaN  3.787402     inches     LOWEST

       MAX TEMP Unnamed: 6 MIN TEMP Unnamed: 8
 0        1200Z      1800Z    1200Z      1800Z
 1         27.5       26.7     20.3       20.7
 2         26.8         26     21.7       21.5
 3         26.7       26.9     19.8       23.9
 4         27.4       27.6     22.6       23.5
 ..         ...        ...      ...        ...
 433        NaN        NaN      NaN        NaN
 434        828      840.9    688.2      723.8
 435  26.709677  27.125806     22.2  23.348387
 436         28       28.7     24.5         25
 437       24.9       24.8     19.8       20.6

 [438 rows x 9 columns],
 'RR MAX & MIN 2007':                     2007 Unnamed: 1 RAINFALL  Unnamed: 3 Unnamed: 4  \
 0                    NaN        NaN     1200Z      1800Z        NaN
 1    1999-01-01 00:00:00        NaN       0.7        0.1        NaN
 2    1999-01-02 00:00:00        NaN       NaN         Tr        NaN

In [17]:
# don't load 'Source' sheet
# get list of "columns" for each sheet
# data is for 1996-2021, need to do each individually
for sheet in sheet_to_df_map.keys():
    print(f'{sheet}: {sheet_to_df_map[sheet].columns}')

Source: Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2'], dtype='object')
 RR MAX & MIN 1996: Index([        1996, 'Unnamed: 1',  'RAINFALL ', 'Unnamed: 3', 'Unnamed: 4',
         'MAX TEMP', 'Unnamed: 6',   'MIN TEMP', 'Unnamed: 8'],
      dtype='object')
 RR MAX & MIN 1997: Index([        1997, 'Unnamed: 1',  'RAINFALL ', 'Unnamed: 3', 'Unnamed: 4',
         'MAX TEMP', 'Unnamed: 6',   'MIN TEMP', 'Unnamed: 8'],
      dtype='object')
RR MAX & MIN 1998: Index(['Unnamed: 0', 'Unnamed: 1', 'RAINFALL ', 'Unnamed: 3', 'Unnamed: 4',
       'MAX TEMP', 'Unnamed: 6', 'MIN TEMP', 'Unnamed: 8'],
      dtype='object')
RR MAX & MIN 1999: Index([        1999, 'Unnamed: 1',  'RAINFALL ', 'Unnamed: 3', 'Unnamed: 4',
         'MAX TEMP', 'Unnamed: 6',   'MIN TEMP', 'Unnamed: 8'],
      dtype='object')
RR MAX & MIN 2000: Index(['Unnamed: 0', 'Unnamed: 1', 'RAINFALL ', 'Unnamed: 3', 'Unnamed: 4',
       'MAX TEMP', 'Unnamed: 6', 'MIN TEMP', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'RAINFALL', 'Unnamed: 16', 'Unnamed: 17', 'MAX TEMP.1',
       'Unnamed: 19', 'MIN TEMP.1', 'Unnamed: 21'],
      dtype='object')
RR MAX & MIN 2001: Index(['Unnamed: 0', 'Unnamed: 1', 'RAINFALL ', 'Unnamed: 3', 'Unnamed: 4',
       'MAX TEMP', 'Unnamed: 6', 'MIN TEMP', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'RAINFALL',
       'Unnamed: 15', 'Unnamed: 16', 'MAX TEMP.1', 'Unnamed: 18', 'MIN TEMP.1',
       'Unnamed: 20'],
      dtype='object')
 RR MAX & MIN 2002: Index([        2002, 'Unnamed: 1',  'RAINFALL ', 'Unnamed: 3', 'Unnamed: 4',
         'MAX TEMP', 'Unnamed: 6',   'MIN TEMP', 'Unnamed: 8'],
      dtype='object')
 RR MAX & MIN 2003: Index([        2003, 'Unnamed: 1',  'RAINFALL ', 'Unnamed: 3', 'Unnamed: 4',
         'MAX TEMP', 'Unnamed: 6',   'MIN TEMP', 'Unnamed: 8'],
      dtype='object')
 RR MAX & MIN 2004: Index([        2004, 'Unnamed: 1',  'RAINFALL ', 'Unnamed: 3', 'Unnamed: 4',
         'MAX TEMP', 'Unnamed: 6',   'MIN TEMP', 'Unnamed: 8'],
      dtype='object')
 RR MAX & MIN 2005: Index([        2005, 'Unnamed: 1',  'RAINFALL ', 'Unnamed: 3', 'Unnamed: 4',
         'MAX TEMP', 'Unnamed: 6',   'MIN TEMP', 'Unnamed: 8'],
      dtype='object')
 RR MAX & MIN 2006: Index([        2006, 'Unnamed: 1',  'RAINFALL ', 'Unnamed: 3', 'Unnamed: 4',
         'MAX TEMP', 'Unnamed: 6',   'MIN TEMP', 'Unnamed: 8'],
      dtype='object')
RR MAX & MIN 2007: Index([        2007, 'Unnamed: 1',  'RAINFALL ', 'Unnamed: 3', 'Unnamed: 4',
         'MAX TEMP', 'Unnamed: 6',   'MIN TEMP', 'Unnamed: 8'],
      dtype='object')
RR MAX & MIN 2008: Index([        2008, 'Unnamed: 1',  'RAINFALL ', 'Unnamed: 3', 'Unnamed: 4',
         'MAX TEMP', 'Unnamed: 6',   'MIN TEMP', 'Unnamed: 8'],
      dtype='object')
RR MAX & MIN 2009: Index([        2009, 'Unnamed: 1',  'RAINFALL ', 'Unnamed: 3', 'Unnamed: 4',
         'MAX TEMP', 'Unnamed: 6',   'MIN TEMP', 'Unnamed: 8'],
      dtype='object')
RR MAX & MIN 2010: Index([        2010, 'Unnamed: 1',  'RAINFALL ', 'Unnamed: 3', 'Unnamed: 4',
         'MAX TEMP', 'Unnamed: 6',   'MIN TEMP', 'Unnamed: 8'],
      dtype='object')
RR MAX & MIN 2011: Index([        2011, 'Unnamed: 1',  'RAINFALL ', 'Unnamed: 3', 'Unnamed: 4',
         'MAX TEMP', 'Unnamed: 6',   'MIN TEMP', 'Unnamed: 8'],
      dtype='object')
RR MAX & MIN 2012: Index([         2012,  'Unnamed: 1',   'RAINFALL ',  'Unnamed: 3',
        'Unnamed: 4',    'MAX TEMP',  'Unnamed: 6',    'MIN TEMP',
        'Unnamed: 8',  'Unnamed: 9', 'Unnamed: 10'],
      dtype='object')
RR MAX & MIN 2013: Index([         2013,  'Unnamed: 1',   'RAINFALL ',  'Unnamed: 3',
        'Unnamed: 4',    'MAX TEMP',  'Unnamed: 6',    'MIN TEMP',
        'Unnamed: 8',  'Unnamed: 9', 'Unnamed: 10'],
      dtype='object')
RR MAX & MIN 2014: Index([         2014,  'Unnamed: 1',   'RAINFALL ',  'Unnamed: 3',
        'Unnamed: 4',    'MAX TEMP',  'Unnamed: 6',    'MIN TEMP',
        'Unnamed: 8',  'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28'],
      dtype='object')
RR MAX & MIN 2015: Index([        2015, 'Unnamed: 1',  'RAINFALL ', 'Unnamed: 3', 'Unnamed: 4',
         'MAX TEMP', 'Unnamed: 6',   'MIN TEMP', 'Unnamed: 8'],
      dtype='object')
RR MAX & MIN2016: Index([        2016, 'Unnamed: 1',  'RAINFALL ', 'Unnamed: 3', 'Unnamed: 4',
         'MAX TEMP', 'Unnamed: 6',   'MIN TEMP', 'Unnamed: 8'],
      dtype='object')
RR MAX & MIN 2017: Index([        2017, 'Unnamed: 1',  'RAINFALL ', 'Unnamed: 3', 'Unnamed: 4',
         'MAX TEMP', 'Unnamed: 6',   'MIN TEMP', 'Unnamed: 8'],
      dtype='object')
RR MAX & MIN 2018: Index([         2018,  'Unnamed: 1',   'RAINFALL ',  'Unnamed: 3',
        'Unnamed: 4',    'MAX TEMP',  'Unnamed: 6',    'MIN TEMP',
        'Unnamed: 8',  'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12',           ' '],
      dtype='object')
RR MAX & MIN 2019: Index([         2019,  'Unnamed: 1',   'RAINFALL ',  'Unnamed: 3',
        'Unnamed: 4',    'MAX TEMP',  'Unnamed: 6',    'MIN TEMP',
        'Unnamed: 8',  'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12',           ' '],
      dtype='object')
RR MAX & MIN 2020: Index([         2020,  'Unnamed: 1',   'RAINFALL ',  'Unnamed: 3',
        'Unnamed: 4',    'MAX TEMP',  'Unnamed: 6',    'MIN TEMP',
        'Unnamed: 8',  'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12',           ' '],
      dtype='object')
RR MAX & MIN 2021: Index([         2021,  'Unnamed: 1',   'RAINFALL ',  'Unnamed: 3',
        'Unnamed: 4',    'MAX TEMP',  'Unnamed: 6',    'MIN TEMP',
        'Unnamed: 8',  'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12',           ' '],
      dtype='object')

In [26]:
# 1996
sheet_to_df_map[' RR MAX & MIN 1996'].isna().sum()

1996           57
Unnamed: 1    428
RAINFALL      236
Unnamed: 3    328
Unnamed: 4    390
MAX TEMP      110
Unnamed: 6    106
MIN TEMP      108
Unnamed: 8    113
dtype: int64

In [34]:
# drop all rows where index is null as these are aggregate in Excel
sheet_to_df_map[' RR MAX & MIN 1996'] = sheet_to_df_map[' RR MAX & MIN 1996'].dropna(axis=0, subset=[1996])

In [36]:
sheet_to_df_map[' RR MAX & MIN 1996'].columns

Index([        1996, 'Unnamed: 1',  'RAINFALL ', 'Unnamed: 3', 'Unnamed: 4',
         'MAX TEMP', 'Unnamed: 6',   'MIN TEMP', 'Unnamed: 8'],
      dtype='object')

In [51]:
cols_to_drop = [
    'Unnamed: 1', # has the word TOTAL
    'Unnamed: 4', # has the word Highest/lowest
]

sheet_to_df_map[' RR MAX & MIN 1996'].drop(cols_to_drop, axis=1, inplace=True)
sheet_to_df_map[' RR MAX & MIN 1996'].head(500)

/tmp/ipykernel_1860677/3727371916.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sheet_to_df_map[' RR MAX & MIN 1996'].drop(cols_to_drop, axis=1, inplace=True)

,1996,RAINFALL,Unnamed: 3,MAX TEMP,Unnamed: 6,MIN TEMP,Unnamed: 8
2,1999-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3,1999-01-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4,1999-01-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5,1999-01-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6,1999-01-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
7,1999-01-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8,1999-01-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
9,1999-01-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
10,1999-01-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
11,1999-01-10 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
12,1999-01-11 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
13,1999-01-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
14,1999-01-13 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
15,1999-01-14 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
16,1999-01-15 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
17,1999-01-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
18,1999-01-17 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
19,1999-01-18 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
20,1999-01-19 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
21,1999-01-20 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
22,1999-01-21 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
23,1999-01-22 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
24,1999-01-23 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
25,1999-01-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
26,1999-01-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
27,1999-01-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
28,1999-01-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
29,1999-01-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
30,1999-01-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
31,1999-01-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
32,1999-01-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
36,RR JAN:,0,NaN,0,0,0,0
39,1999-02-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
40,1999-02-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
41,1999-02-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
42,1999-02-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
43,1999-02-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
44,1999-02-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
45,1999-02-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
46,1999-02-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
47,1999-02-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
48,1999-02-10 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
49,1999-02-11 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
50,1999-02-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
51,1999-02-13 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
52,1999-02-14 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
53,1999-02-15 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
54,1999-02-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
55,1999-02-17 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
56,1999-02-18 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
57,1999-02-19 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
58,1999-02-20 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
59,1999-02-21 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
60,1999-02-22 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
61,1999-02-23 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
62,1999-02-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
63,1999-02-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
64,1999-02-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
65,1999-02-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
66,1999-02-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
70,RR FEB:,0,NaN,0,0,0,0
73,1999-03-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
74,1999-03-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
75,1999-03-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
76,1999-03-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
77,1999-03-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
78,1999-03-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
79,1999-03-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
80,1999-03-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
81,1999-03-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
82,1999-03-10 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
83,1999-03-11 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
84,1999-03-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
85,1999-03-13 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
86,1999-03-14 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
87,1999-03-15 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
88,1999-03-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
89,1999-03-17 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
90,1999-03-18 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
91,1999-03-19 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
92,1999-03-20 00:00:00,NaN,NaN,28.6,28.8,24.5,26.2
93,1999-03-21 00:00:00,NaN,NaN,28.6,28.7,24.6,25.3
94,1999-03-22 00:00:00,NaN,NaN,28.6,29.3,24.2,26.4
95,1999-03-23 00:00:00,NaN,NaN,29,29.2,25.2,26.3
96,1999-03-24 00:00:00,0.2,Tr,28.8,29.1,23.8,24.9
97,1999-03-25 00:00:00,NaN,NaN,28.9,29.2,25.2,NaN
98,1999-03-26 00:00:00,NaN,NaN,28.6,28.8,24.8,26.7
99,1999-03-27 00:00:00,4.3,0.8,28.3,27.4,22.6,23.5
100,1999-03-28 00:00:00,7.2,Tr,27.6,27.3,22.5,23.5
101,1999-03-29 00:00:00,NaN,NaN,26.5,28.5,23.5,25.5
102,1999-03-30 00:00:00,NaN,NaN,27.7,28.7,24.9,26.3
103,1999-03-31 00:00:00,NaN,NaN,28.3,28.6,24.4,26.8
107,RR MARCH:,12.5,NaN,29,29.3,25.2,26.8
110,1999-04-01 00:00:00,NaN,NaN,28.3,29,24.9,26
111,1999-04-02 00:00:00,NaN,NaN,NaN,29.7,NaN,26.8
112,1999-04-03 00:00:00,NaN,NaN,29.5,30.2,25.6,27.3
113,1999-04-04 00:00:00,NaN,NaN,30.2,29.5,25.3,27
114,1999-04-05 00:00:00,NaN,NaN,29,29.7,25.4,26.9
115,1999-04-06 00:00:00,NaN,0.7,28.1,28.6,23.1,25.8
116,1999-04-07 00:00:00,2.1,NaN,27.8,29.5,23.2,25.2
117,1999-04-08 00:00:00,0.2,NaN,29.3,30,24.2,25
118,1999-04-09 00:00:00,NaN,NaN,29.3,29.7,25.7,25.2
119,1999-04-10 00:00:00,NaN,NaN,29.7,30.1,25.5,27.4
120,1999-04-11 00:00:00,NaN,NaN,30,29.7,25.5,26.9
121,1999-04-12 00:00:00,NaN,NaN,29.2,28.7,24,26.5
122,1999-04-13 00:00:00,1.6,4.4,25.5,27.6,21.3,23
123,1999-04-14 00:00:00,2.9,NaN,26.3,29,22.8,25.8
124,1999-04-15 00:00:00,NaN,NaN,28.7,29.3,25.3,26.3
125,1999-04-16 00:00:00,4,NaN,28.7,29.1,23.4,26.2
126,1999-04-17 00:00:00,NaN,NaN,28.8,29.6,25,NaN
127,1999-04-18 00:00:00,NaN,NaN,29.1,29.5,25.3,27.2
128,1999-04-19 00:00:00,Tr,NaN,28.9,29.2,24.5,26.9
129,1999-04-20 00:00:00,3.8,NaN,28.4,28.6,23,24.8
130,1999-04-21 00:00:00,5.7,Tr,28.3,28.6,22.3,26.8
131,1999-04-22 00:00:00,5.3,NaN,28.2,28.8,24.1,25.8
132,1999-04-23 00:00:00,Tr,1,28.5,28.9,24.3,25.1
133,1999-04-24 00:00:00,NaN,NaN,28.1,29.2,25.5,27
134,1999-04-25 00:00:00,NaN,NaN,29,29.6,25.5,27.2
135,1999-04-26 00:00:00,0.2,5.7,29.3,27.7,24.4,22.3
136,1999-04-27 00:00:00,Tr,NaN,27.9,29.2,24.7,27
137,1999-04-28 00:00:00,NaN,NaN,29.1,30,25.5,26.7
138,1999-04-29 00:00:00,Tr,NaN,28.8,28.9,25.2,25.2
139,1999-04-30 00:00:00,0.3,NaN,28.3,29,24.6,24.8
143,RR APRIL:,37.9,NaN,30.2,30.2,25.7,27.4
146,1999-05-01 00:00:00,NaN,NaN,28.7,28.9,25.3,26.5
147,1999-05-02 00:00:00,NaN,NaN,28.7,28.8,25.2,26.1
148,1999-05-03 00:00:00,NaN,NaN,28.8,28.9,25,26.7
149,1999-05-04 00:00:00,NaN,NaN,28.1,29,25.1,26.7
150,1999-05-05 00:00:00,Tr,Tr,28.7,27.5,24.8,24.8
151,1999-05-06 00:00:00,Tr,Tr,27.5,29.2,25.5,25.5
152,1999-05-07 00:00:00,1.7,0.2,28.1,27.4,24.1,24.8
153,1999-05-08 00:00:00,Tr,NaN,26.7,29.7,25.9,26.3
154,1999-05-09 00:00:00,0.8,NaN,29.7,29.6,25,27
155,1999-05-10 00:00:00,NaN,NaN,29,29.1,25.5,26.8
156,1999-05-11 00:00:00,NaN,NaN,28.8,29.5,25.3,27
157,1999-05-12 00:00:00,0.2,0.4,28.8,28.3,23.6,25.1
158,1999-05-13 00:00:00,Tr,NaN,28.1,29.9,24.2,27.2
159,1999-05-14 00:00:00,NaN,NaN,29.3,29.6,25.2,26.8
160,1999-05-15 00:00:00,0.6,NaN,29.4,29.8,25.5,26.8
161,1999-05-16 00:00:00,NaN,NaN,29.5,29.8,25.6,27.5
162,1999-05-17 00:00:00,0.5,NaN,29.7,30,25.9,27
163,1999-05-18 00:00:00,NaN,NaN,29.4,29.8,25.7,26.8
164,1999-05-19 00:00:00,NaN,NaN,28.7,29.8,24.8,25.6
165,1999-05-20 00:00:00,2,NaN,28.6,30,24,27.3
166,1999-05-21 00:00:00,NaN,NaN,29.7,30,25.9,27.9
167,1999-05-22 00:00:00,0.8,2.2,29.5,30.2,25.9,25.3
168,1999-05-23 00:00:00,0.9,NaN,29.3,30.9,26,27.8
169,1999-05-24 00:00:00,NaN,NaN,30.6,30.6,26.7,28
170,1999-05-25 00:00:00,0.4,NaN,30,30.1,24.5,27.8
171,1999-05-26 00:00:00,NaN,NaN,29.8,30.2,25.8,28.2
172,1999-05-27 00:00:00,3,NaN,30.1,30.2,24.7,27.7
173,1999-05-28 00:00:00,NaN,NaN,30.1,30.5,30.5,28.2
174,1999-05-29 00:00:00,NaN,0.4,30.2,29.3,25,25.4
175,1999-05-30 00:00:00,0.6,0.1,27.8,30.3,23.8,27.2
176,1999-05-31 00:00:00,2.5,NaN,29.9,30.1,24,27.7
180,RR MAY:,17.3,NaN,30.6,30.9,30.5,28.2
183,1999-06-01 00:00:00,NaN,NaN,29.5,30.4,26.5,28.3
184,1999-06-02 00:00:00,NaN,NaN,28.2,31.1,26.9,28.2
185,1999-06-03 00:00:00,NaN,0.2,30.7,30.6,26.8,27
186,1999-06-04 00:00:00,0.6,0.2,30.3,29.5,25,24.7
187,1999-06-05 00:00:00,0.2,Tr,29.5,29.8,24.7,25.5
188,1999-06-06 00:00:00,23.7,8.8,29.5,29.7,23.9,24.8
189,1999-06-07 00:00:00,3.7,Tr,29,30,25.7,27.6
190,1999-06-08 00:00:00,NaN,NaN,30.2,29.9,26.5,27.2
191,1999-06-09 00:00:00,0.1,NaN,29.6,30.2,24.5,27.5
192,1999-06-10 00:00:00,Tr,NaN,29.2,29.8,26.2,27.1
193,1999-06-11 00:00:00,NaN,1.3,29.6,29.6,24.5,25.2
194,1999-06-12 00:00:00,4.2,0.4,28.2,29.8,24,26.7
195,1999-06-13 00:00:00,1.7,NaN,29.6,29.2,25.2,27
196,1999-06-14 00:00:00,2.1,4.7,29.1,27,23.7,24.5
197,1999-06-15 00:00:00,118.1,NaN,27.8,29.9,23.1,27.4
198,1999-06-16 00:00:00,22,NaN,29.8,29.5,24.1,27.6
199,1999-06-17 00:00:00,NaN,0.1,28.9,29.2,26.2,26.5
200,1999-06-18 00:00:00,NaN,NaN,29.3,29.1,26.5,26.5
201,1999-06-19 00:00:00,NaN,NaN,28.8,29.1,26.2,27.6
202,1999-06-20 00:00:00,NaN,NaN,28.9,29.4,26.2,28
203,1999-06-21 00:00:00,NaN,NaN,29,30.7,26.9,28.4
204,1999-06-22 00:00:00,NaN,NaN,29.3,31.3,26.9,28.5
205,1999-06-23 00:00:00,0.6,NaN,29.3,30.4,26.7,27.5
206,1999-06-24 00:00:00,NaN,NaN,30,30.2,26.9,28.5
207,1999-06-25 00:00:00,NaN,NaN,29.9,29.9,26.7,28.1
208,1999-06-26 00:00:00,Tr,1.2,29.1,29.7,25.7,26.2
209,1999-06-27 00:00:00,NaN,1.7,29,29.4,26.2,24.7
210,1999-06-28 00:00:00,NaN,NaN,29.3,30.7,27.2,28.2
211,1999-06-29 00:00:00,NaN,Tr,30.6,30.6,26.9,28
212,1999-06-30 00:00:00,NaN,NaN,30,30.3,26.7,28.4
216,RR JUNE:,195.6,NaN,30.7,31.3,27.2,28.5
217,AVERAGE,NaN,NaN,27.8,27,23.1,24.5
219,1999-07-01 00:00:00,NaN,NaN,30.2,30,26.5,28
220,1999-07-02 00:00:00,1.9,NaN,30,30.4,26.2,27.7
221,1999-07-03 00:00:00,NaN,NaN,30.2,30.7,27,28.3
222,1999-07-04 00:00:00,NaN,NaN,30.7,30.7,27.2,28.5
223,1999-07-05 00:00:00,NaN,NaN,30.5,30.5,27,28.5
224,1999-07-06 00:00:00,3.2,NaN,30.1,30.3,25,28
225,1999-07-07 00:00:00,5.4,2.1,29.7,30.6,23.5,26
226,1999-07-08 00:00:00,5.6,0.5,29.7,30.2,24.9,25.6
227,1999-07-09 00:00:00,0.5,5.3,29.2,29.8,25.5,25.8
228,1999-07-10 00:00:00,0.7,Tr,28.2,30.3,25.7,27.1
229,1999-07-11 00:00:00,15.8,1,29.7,28.8,24.2,25.5
230,1999-07-12 00:00:00,0.6,NaN,29.1,30.2,26.3,27
231,1999-07-13 00:00:00,NaN,1.1,29.9,29.1,26.4,26.4
232,1999-07-14 00:00:00,14.4,29,28.7,28.7,25.4,24.6
233,1999-07-15 00:00:00,1.4,Tr,28,29.3,25.5,26.8
234,1999-07-16 00:00:00,NaN,NaN,28.9,29.7,26.8,27.6
235,1999-07-17 00:00:00,NaN,NaN,29.6,30.1,25.6,27.8
236,1999-07-18 00:00:00,1.8,1.2,29.7,29.9,24,26.5
237,1999-07-19 00:00:00,0.2,NaN,29.2,30.6,26.3,27.1
238,1999-07-20 00:00:00,NaN,Tr,30.3,30.7,26.6,28.4
239,1999-07-21 00:00:00,NaN,NaN,30.3,30.3,27.3,28.2
240,1999-07-22 00:00:00,NaN,NaN,29.8,30.6,27.2,27.3
241,1999-07-23 00:00:00,NaN,NaN,30.6,30.4,27.1,28
242,1999-07-24 00:00:00,2.6,NaN,29.7,30.3,25.5,28.2
243,1999-07-25 00:00:00,20.5,1.4,29.7,30.3,24.7,24.6
244,1999-07-26 00:00:00,NaN,NaN,28.9,30.3,25.6,28.4
245,1999-07-27 00:00:00,NaN,11.7,30,30.3,27,24.3
246,1999-07-28 00:00:00,0.1,NaN,28.6,30.3,25.3,28.1
247,1999-07-29 00:00:00,NaN,NaN,30.1,30.1,26.9,28.2
248,1999-07-30 00:00:00,1.2,1.1,30.1,30.2,24.9,25
249,1999-07-31 00:00:00,0.9,Tr,29.7,30.4,25.8,25.6
253,RR JULY:,138.7,NaN,30.7,30.7,27.3,28.5
256,1999-08-01 00:00:00,7.5,NaN,30.4,30.5,25.3,28
257,1999-08-02 00:00:00,0.1,8.7,30.4,29.7,26,24.2
258,1999-08-03 00:00:00,NaN,3.7,28.3,29.9,24.5,27.1
259,1999-08-04 00:00:00,6.2,0.1,30,30.2,24.5,26.5
260,1999-08-05 00:00:00,3.6,1.1,29.3,30.1,26,26.8
261,1999-08-06 00:00:00,NaN,NaN,29.2,30.5,27.3,28
262,1999-08-07 00:00:00,NaN,Tr,30.5,30,26.5,28
263,1999-08-08 00:00:00,NaN,NaN,30,31.2,26.5,28
264,1999-08-09 00:00:00,0.1,NaN,30.4,30.3,24.8,27.8
265,1999-08-10 00:00:00,0.9,NaN,30.2,30.8,26.4,28.9
266,1999-08-11 00:00:00,NaN,NaN,30.5,30.7,27.2,26.7
267,1999-08-12 00:00:00,NaN,NaN,30.6,30.8,27.1,29
268,1999-08-13 00:00:00,3.9,NaN,30.2,30.6,25.3,28
269,1999-08-14 00:00:00,8,Tr,30.3,30.9,24.8,28.3
270,1999-08-15 00:00:00,3.1,Tr,30.6,30.9,25.5,27.5
271,1999-08-16 00:00:00,16.4,NaN,28.8,30.1,23.8,27.5
272,1999-08-17 00:00:00,2.8,NaN,29.8,30.1,25.1,28
273,1999-08-18 00:00:00,NaN,NaN,30,30.2,25.3,27.6
274,1999-08-19 00:00:00,Tr,NaN,30.1,30.3,24.9,28.5
275,1999-08-20 00:00:00,NaN,NaN,30.2,30.2,25,28.4
276,1999-08-21 00:00:00,NaN,NaN,30,30.7,25,28.6
277,1999-08-22 00:00:00,NaN,Tr,30.8,31,27.5,28.6
278,1999-08-23 00:00:00,4.6,Tr,30.6,30.8,25.3,28.3
279,1999-08-24 00:00:00,NaN,NaN,30.8,31,26.5,28.9
280,1999-08-25 00:00:00,Tr,NaN,30.6,30.6,27,28.8
281,1999-08-26 00:00:00,Tr,Tr,30.5,31,27,28.4
282,1999-08-27 00:00:00,1.1,NaN,30.1,31.3,26.7,28.5
283,1999-08-28 00:00:00,NaN,Tr,NaN,31.1,24.7,28.2
284,1999-08-29 00:00:00,NaN,NaN,30.7,30.9,26.4,27
285,1999-08-30 00:00:00,1,12.7,NaN,29.8,NaN,25.8
286,1999-08-31 00:00:00,0.6,0.7,29.3,31.7,27,27.7
290,RR AUG:,NaN,NaN,30.8,31.7,27.5,29
293,1999-09-01 00:00:00,Tr,0.1,30.9,30.9,25.7,27.2
294,1999-09-02 00:00:00,10.3,NaN,29.4,NaN,25.5,NaN
295,1999-09-03 00:00:00,1.7,3,30.9,30.4,26.5,26.7
296,1999-09-04 00:00:00,4.3,NaN,29.7,31.1,23.3,28.7
297,1999-09-05 00:00:00,3.3,NaN,30,30.5,25,28.5
298,1999-09-06 00:00:00,NaN,Tr,30,30.5,27.1,28.4
299,1999-09-07 00:00:00,6,8.1,29.5,29.6,25.7,26.6
300,1999-09-08 00:00:00,2.5,Tr,28.5,27.3,25.7,25.7
301,1999-09-09 00:00:00,14.6,2.6,26.8,27.8,23.9,25.7
302,1999-09-10 00:00:00,2.4,1.1,28,27.4,25.2,25.1
303,1999-09-11 00:00:00,NaN,NaN,28.7,30.2,26.7,28.5
304,1999-09-12 00:00:00,NaN,NaN,30.1,30.1,26.4,28.5
305,1999-09-13 00:00:00,NaN,NaN,29.8,30.3,26.8,27.8
306,1999-09-14 00:00:00,Tr,NaN,30.3,30.1,25.1,28
307,1999-09-15 00:00:00,2,NaN,30.1,30.3,25.6,28.5
308,1999-09-16 00:00:00,1.2,NaN,29.9,31.4,26.7,28.1
309,1999-09-17 00:00:00,Tr,NaN,30.2,30.8,26.3,28.4
310,1999-09-18 00:00:00,1.6,0.9,30.1,31,25.7,28
311,1999-09-19 00:00:00,2.2,NaN,29.4,31.8,26.8,28.8
312,1999-09-20 00:00:00,0.5,NaN,29.9,30.2,27.1,27.2
313,1999-09-21 00:00:00,Tr,NaN,NaN,31.3,26.9,27
314,1999-09-22 00:00:00,24.1,1.4,31,30.3,22.9,24.3
315,1999-09-23 00:00:00,NaN,NaN,30.2,30.9,27.7,28.6
316,1999-09-24 00:00:00,NaN,NaN,30.8,30.6,27.3,NaN
317,1999-09-25 00:00:00,NaN,3.4,30.4,30.3,26.2,26.2
318,1999-09-26 00:00:00,1.1,NaN,30.4,31.2,25.7,27.2
319,1999-09-27 00:00:00,0.9,NaN,30.9,31,26.7,28.4
320,1999-09-28 00:00:00,9.3,NaN,30.6,30.7,25,28.8
321,1999-09-29 00:00:00,2.5,NaN,29.8,30.7,24.8,NaN
322,1999-09-30 00:00:00,1.2,0.3,30.3,29.9,25.1,25.5
326,RR SEP:,118.4,NaN,31,31.8,27.7,28.8
327,AVERAGE,NaN,NaN,26.8,27.3,22.9,24.3
329,1999-10-01 00:00:00,5.8,NaN,29.6,30.3,24.4,28.3
330,1999-10-02 00:00:00,NaN,NaN,29.8,29.5,24.8,28
331,1999-10-03 00:00:00,Tr,0.6,29.1,28.4,25.6,26.7
332,1999-10-04 00:00:00,NaN,NaN,28.7,30.4,24.2,28
333,1999-10-05 00:00:00,NaN,NaN,29.8,30.9,27.3,NaN
334,1999-10-06 00:00:00,0.5,NaN,30.7,30.7,26.9,28.5
335,1999-10-07 00:00:00,0.1,NaN,30,31.2,27.2,28.8
336,1999-10-08 00:00:00,0.5,NaN,30.7,31.1,26.2,28.5
337,1999-10-09 00:00:00,14.1,NaN,30.2,30.3,23.9,27.7
338,1999-10-10 00:00:00,11.8,0.3,30.3,30.2,24.5,27.2
339,1999-10-11 00:00:00,NaN,Tr,30.1,30.8,27.2,28.2
340,1999-10-12 00:00:00,NaN,Tr,30,30.2,27.1,27.7
341,1999-10-13 00:00:00,26.9,NaN,29.7,29.8,24,26.7
342,1999-10-14 00:00:00,5.2,Tr,29.3,NaN,25.5,NaN
343,1999-10-15 00:00:00,NaN,NaN,29.6,30.5,27,28.8
344,1999-10-16 00:00:00,3.5,NaN,30.1,30.3,26.2,27.8
345,1999-10-17 00:00:00,NaN,Tr,NaN,30.3,27.2,28.7
346,1999-10-18 00:00:00,2.7,0.5,30.1,30.2,25.4,26.8
347,1999-10-19 00:00:00,NaN,NaN,30,30.7,26.7,28.5
348,1999-10-20 00:00:00,3.5,NaN,30.5,30.5,27.1,28.6
349,1999-10-21 00:00:00,2.3,Tr,30.4,30.3,25.1,28.1
350,1999-10-22 00:00:00,Tr,NaN,30.1,30.6,27,28
351,1999-10-23 00:00:00,NaN,NaN,29.8,30.5,24.4,28.7
352,1999-10-24 00:00:00,NaN,NaN,30,30.5,23.7,28.3
353,1999-10-25 00:00:00,0.4,NaN,30,30.8,27.1,NaN
354,1999-10-26 00:00:00,3.5,7.8,30.3,29.8,25.7,24.3
355,1999-10-27 00:00:00,15.3,NaN,28.6,30.3,23.7,28.2
356,1999-10-28 00:00:00,NaN,NaN,NaN,30.1,NaN,28.2
357,1999-10-29 00:00:00,NaN,27.1,29.8,29.5,26.7,23.3
358,1999-10-30 00:00:00,0.9,NaN,28.9,30.8,25.3,28.4
359,1999-10-31 00:00:00,6.9,0.8,30.5,29.9,25.5,26.5
363,RR OCT:,150.6,NaN,30.7,31.2,27.3,28.8
366,1999-11-01 00:00:00,15.4,30.5,29.2,29.9,23.1,25.2
367,1999-11-02 00:00:00,1.8,NaN,28.6,30.6,26.5,28.3
368,1999-11-03 00:00:00,0.2,NaN,29.8,30.6,26.5,26.3
369,1999-11-04 00:00:00,NaN,1.4,30,30.3,26.4,25.9
370,1999-11-05 00:00:00,Tr,8.7,30.3,30.3,25.9,25
371,1999-11-06 00:00:00,1.3,NaN,29.8,30.6,25.5,26.8
372,1999-11-07 00:00:00,0.1,NaN,29.3,29.9,26.2,27.2
373,1999-11-08 00:00:00,NaN,NaN,29.5,30.2,26.3,28.1
374,1999-11-09 00:00:00,NaN,Tr,29.9,29.6,23.7,27.5
375,1999-11-10 00:00:00,3.2,NaN,29.1,30.1,24.2,27.6
376,1999-11-11 00:00:00,2.4,NaN,28.9,29.2,24.7,27.3
377,1999-11-12 00:00:00,7.7,21.3,29,28.2,24.9,24.3
378,1999-11-13 00:00:00,0.2,1.2,28.3,29.9,26.8,26.3
379,1999-11-14 00:00:00,2.5,NaN,29.3,29.8,25.1,28
380,1999-11-15 00:00:00,1,0.9,29.1,29.7,24.6,25.4
381,1999-11-16 00:00:00,1,NaN,29.7,29.6,26.3,27.1
382,1999-11-17 00:00:00,2.6,NaN,29.2,29.7,25.5,27.5
383,1999-11-18 00:00:00,NaN,NaN,28.7,29.4,25.4,27
384,1999-11-19 00:00:00,NaN,NaN,29.2,29.9,26.2,27.6
385,1999-11-20 00:00:00,1.8,0.2,28.8,28.4,25.8,26.5
386,1999-11-21 00:00:00,4.9,2.8,28,29.1,24.4,24
387,1999-11-22 00:00:00,1.1,6.7,28.2,29.2,23.6,26.8
388,1999-11-23 00:00:00,47.3,16.4,27.4,29,23.4,26
389,1999-11-24 00:00:00,Tr,NaN,28.2,29.3,24.4,26.8
390,1999-11-25 00:00:00,NaN,NaN,28.6,28.7,26,26.6
391,1999-11-26 00:00:00,NaN,NaN,27.8,28.8,23.2,26.9
392,1999-11-27 00:00:00,NaN,NaN,28.5,29.1,25.5,26.2
393,1999-11-28 00:00:00,42.2,Tr,28.8,29.6,22.8,24.5
394,1999-11-29 00:00:00,Tr,Tr,28.5,29,25.5,27
395,1999-11-30 00:00:00,NaN,NaN,28.7,28.8,24.7,26.5
399,RR NOV:,211.4,NaN,30.3,30.6,26.8,28.3
400,AVERAGE,NaN,NaN,27.4,28.2,22.8,24
402,1999-12-01 00:00:00,NaN,NaN,28.9,27.4,NaN,26.4
403,1999-12-02 00:00:00,0.4,NaN,27.1,27.7,24.4,24.9
404,1999-12-03 00:00:00,NaN,NaN,27.3,27.5,21.4,25.5
405,1999-12-04 00:00:00,Tr,NaN,27.2,28,20.6,25.1
406,1999-12-05 00:00:00,22.8,17,28,26.4,22.8,23.9
407,1999-12-06 00:00:00,Tr,NaN,26.7,28.6,24.9,26.2
408,1999-12-07 00:00:00,Tr,NaN,27.9,29.4,25.4,26.4
409,1999-12-08 00:00:00,0.2,NaN,28.8,29.2,24.7,27.1
410,1999-12-09 00:00:00,Tr,NaN,28.8,29.4,24.6,27.1
411,1999-12-10 00:00:00,NaN,NaN,28.8,29.2,24.5,26.6
412,1999-12-11 00:00:00,NaN,0.4,28.9,29,22.7,26.1
413,1999-12-12 00:00:00,42.9,0.8,27.8,26,23,23.3
414,1999-12-13 00:00:00,NaN,NaN,26,28,24.7,25.4
415,1999-12-14 00:00:00,NaN,NaN,27.6,27.7,25.1,25.7
416,1999-12-15 00:00:00,6,NaN,27.2,28.1,24.2,25.8
417,1999-12-16 00:00:00,14.2,5.2,26.4,25.7,22.2,22.8
418,1999-12-17 00:00:00,39.6,NaN,25.6,27,21.7,22.6
419,1999-12-18 00:00:00,15.2,NaN,26.8,27.7,23.5,25.7
420,1999-12-19 00:00:00,NaN,NaN,27,28,24.3,25.2
421,1999-12-20 00:00:00,NaN,NaN,27.7,27.5,23.5,23.6
422,1999-12-21 00:00:00,0.5,NaN,27.2,28.2,23.8,25.7
423,1999-12-22 00:00:00,Tr,NaN,27.8,28.6,24.5,25.8
424,1999-12-23 00:00:00,NaN,Tr,28,28.6,25,26.1
425,1999-12-24 00:00:00,10.1,NaN,28.7,29.1,23.7,26.3
426,1999-12-25 00:00:00,0.5,NaN,28.5,28.7,24.8,26
427,1999-12-26 00:00:00,Tr,NaN,28.5,28.8,25.1,26
428,1999-12-27 00:00:00,1,NaN,27.6,28.2,22.8,NaN
429,1999-12-28 00:00:00,0.5,0.9,27.1,28.6,24.2,24.4
430,1999-12-29 00:00:00,8.8,8.4,28.2,27.8,22.5,21.1
431,1999-12-30 00:00:00,Tr,0.4,26.4,28.3,23.9,25
432,1999-12-31 00:00:00,0.2,NaN,26.1,27.8,24.3,25.5
436,RR DEC:,196,NaN,28.9,29.4,25.4,27.1
437,Average,NaN,NaN,25.6,25.7,20.6,21.1

In [66]:
# drop all rows that isn't a date in the index
df = sheet_to_df_map[' RR MAX & MIN 1996']

TypeError: bad operand type for unary ~: 'float'